* {
  margin: 0;
  padding: 0;
}

body {
  color: #363636;
  width: 1200px;
  font-family: Verdana, Tahoma, sans-serif;
  margin: auto;
  text-align: left;
}

article {
  width: 630px;
}

address {
  position: absolute;
  left: 41em;
  top: 31em;
}

address a {
  color: black;
  font-size: 12px;
  text-decoration: none;
}

h1, a,.black {
  color: black;
  font-weight: bold;
}

p {
  padding: 1em 0 1em 0;
}

code {
  font-size: 16px;
}

em {
  color: grey;
  font-size: 12px;
}

div {
  background-color: #d8d8d8;
  border: 1px solid #d8d8d8;
  border-radius: 6px;
}

.last_block {
  overflow-x: ;
}

.red {
  color: red;
}

.green {
  color: green;
}

.beruze {
  color: aquamarine;
}

.darkblue {
  color: #0f0f4e;
}